/* body{
    text-align: center;
    /* background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100; */
} */

/* h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
} */

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 30%;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: rgb(7, 1, 1);
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: rgb(207, 169, 168);
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}